<div class="container" id="sireco">
  <div class="banner">
    <div class="images">
      <img src="assets/svg/star-blue.svg" class="star-blue" width="30px" />
      <img src="assets/svg/img-system.svg" class="images__system" width="450px" />
    </div>
    <div class="description">
      <picture>
        <img
          src="assets/svg/star-yellow.svg"
          class="star-yellow"
          width="30px"
        />
      </picture>
      <div class="description__text">
        <h1 class="title-mobile">Interfaz intuitiva</h1>
        <label class="text-mobile">Diseño amigable con el agente que le permite tener acceso a toda la
          información de los clientes en una sola pantalla sin perder tiempo
          navegando por el sistema para buscar los datos que necesita.
        </label><br>
        <a href="#contact" class="primary-button">
          SOLICITA DEMO
        </a>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="content-cards">
    <div class="card">
      <picture>
        <img src="assets/svg/productivity-icon.svg" width="125px" />
      </picture>
      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" width="20px" />
        <h1>Productividad</h1>
      </div>
      <p>Carga automática de la cartera de clientes.</p>
      <p>
        Optimiza el tiempo de los agentes cargando de forma automática el
        siguiente cliente a contactar, a la vez, que se le da una rotación
        completa a la cartera.
      </p>
    </div>
    <div class="card">
      <picture>
        <img src="assets/svg/adaptability-icon.svg" width="100px" />
      </picture>
      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" width="20px" />
        <h1>Adaptibilidad</h1>
      </div>
      <p>
        Sistema creado in-house, por lo que es posible adaptar el sistema a
        las diferentes necesidades de los clientes
      </p>
    </div>
    <div class="card">
      <picture>
        <img src="assets/svg/security-icon.svg" width="80px" />
      </picture>
      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" width="20px" />
        <h1>Seguridad</h1>
      </div>
      <p>
        Tenemos certificados de seguridad ssl y manejo de datos encriptados.
        Restricción de IP y ubicación para poder ingresar al sistema.
      </p>
    </div>
  </div>
</div>
