<div class="container">
  <div class="flare">
    <img src="assets/svg/flare.svg" alt="">
  </div>
  <div class="title title-mobile">¿Por qué utilizar nuestro servicio de mensajes?</div>
  <!------------------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  <div class="content-cards">
    <div class="card">
      <picture>
        <img src="assets/svg/paper-plane.svg" width="125px" />
      </picture>
      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" class="card__star" width="20px" />
        <p>
          Realización de campañas o recordatorios masivos de forma rápida e
          intuitiva
        </p>
      </div>
    </div>
    <div class="card">
      <picture>
        <img src="assets/svg/archive.svg" width="100px" />
      </picture>
      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" class="card__star" width="20px" />
        <p>
          Adjunta automáticamente una gestión por cada correo o mensaje de texto
          enviado
        </p>
      </div>
    </div>
    <div class="card">
      <picture>
        <img src="assets/svg/code.svg"  width="120px" />
      </picture>

      <div class="card__title">
        <img src="assets/svg/star-yellow.svg" class="card__star" width="20px" />
        <p>Evita utilización de softwares complementarios</p>
      </div>
    </div>
  </div>
</div>
