<div class="container" id="messages">
  <div class="information">
    <div class="information__images">
      <picture class="star-blue">
        <img src="assets/svg/star-blue.svg"  width="10px" />
      </picture>
      <div class="information__title">
        <picture>
          <img src="assets/svg/star-yellow.svg" width="15px" />
        </picture>
        <div class="title-mobile">
          ¡Mensajes a <br />
          todos lados!
        </div>
        <picture class="star-yellow">
          <img src="assets/svg/star-yellow.svg" width="20px" />
        </picture>
      </div>
    </div>
    <div class="information__text">
      <p class="text-mobile">
        Conoce nuestro servicio de envío de correos electrónicos masivos a tu
        cartera de clientes. Conectándote con ellos de forma rápida, y segura.
      </p>
    </div>
    <a routerLink="messages" class="primary-button">
      <span>CONOCE MÁS</span>
      <img src="assets/svg/arrow-right.svg" width="30px" />
    </a>
  </div>
  <div class="image">
    <img src="assets/svg/img-message.svg" />
  </div>
</div>
