<div class="container" id="testimonials">
  <div class="images">
    <img src="assets/svg/img-chat.svg"  />
  </div>
  <div class="testimonials">
    <div class="testimonials__title">
      <picture>
        <img src="assets/svg/stars-yellow.svg" width="30px" />
      </picture>
      <h1>Testimonios</h1>
    </div>
    <div class="testimonials__group-cards hidden" [class.animation-fadeInRight-5]="isTestimonial">
      <div class="testimonials__card">
        <p class="testimonials__text">
          “Hay una gran diferencia entre el
          programa que usábamos anteriormente
          y Sireco, y es que aparte de verse mejor,
          es mucho más rápido, más fácil de
          entender y nos despliega de manera
          ordenada lo que necesitamos.”
        </p>
        <p class="testimonials__name">
          - Beverly Lopez, KOLEKTO
        </p>
      </div>
    </div>
    <div class="testimonials__group-cards hidden" [class.animation-fadeInRight-7]="isTestimonial">
      <div class="testimonials__card">
        <p class="testimonials__text">
          “No he tenido mayor dificultad para
          adaptarme y poderlo utilizar. Creo que
          no hay dudas de que ha sido una mejora
          al ritmo de trabajo.”
        </p>
        <p class="testimonials__name">
          - Oscar Medina, KOLEKTO
        </p>
      </div>
    </div>
  </div>
</div>
