<div class="contanier-circle">
  <div class="bg-circle"></div>
</div>
<div class="content-info">
  <div class="information">
    <div class="information__title">
      <picture>
        <img src="assets/svg/star-yellow.svg" width="20px" />
      </picture>
      <h1 class="title-mobile">Una herramienta para Supervisores</h1>
    </div>
    <div class="information__item">
      <h1 class="information__subtitle subtitle-mobile">Soporte</h1>
      <p class="text-mobile">
        Atención en Guatemala en tu idioma y en el momento en el que lo
        necesites, vía telefónica, whatsapp y correo electrónico.
      </p>
    </div>
    <div class="information__item">
      <h1 class="information__subtitle subtitle-mobile">Portabilidad</h1>
      <p class="text-mobile">
        Sin restricciones de sistemas operativos, sin configurar maquina por
        maquina, sin perder el tiempo en cosas que no necesitas.
      </p>
    </div>
    <div class="information__item">
      <h1 class="information__subtitle subtitle-mobile">Control</h1>
      <p class="text-mobile">
        Incrementa la eficiencia de los agentes. Monitorea y administra el
        Contact Center en tiempo real, generando los reportes que necesitas en
        el momento que los necesitas.
      </p>
    </div>
  </div>
  <div class="image">
    <img src="assets/svg/img-system-2.svg" />
  </div>
</div>
<div class="try-it-for-free">
  <a href="#contact" class="primary-button">¡PRUEBALO GRÁTIS!</a>
</div>
