<div class="container">
  <picture class="large-image">
    <img src="assets/svg/img-message.svg" />
  </picture>
  <div class="content-info">
    <div class="information">
      <div class="information__images">
        <picture class="star-blue">
          <img src="assets/svg/star-blue.svg" width="10px" />
        </picture>
        <div class="information__title">
          <picture>
            <img src="assets/svg/star-yellow.svg" width="15px" />
          </picture>
          <div class="title-mobile">¡Mensajes a todos lados!</div>
        </div>
      </div>
    </div>
    <div class="information-text ">
      <p class="text-mobile">
        Conoce nuestro servicio de envío de correos electrónicos y mensajes de
        texto masivos a tu cartera de clientes. Conectándote con ellos de forma
        rápida, y segura.
      </p>
    </div>
  </div>
</div>
